@charset "UTF-8";

/* 오늘의 진료 - 예약 - 목록*/


/*테스트용*/
.sidebar-clicked {
	background-color: #dddfeb;
}

button, input[type=date] {
	border: 1px solid #CCC;
	border-radius: 5px;
	color: #858796;
}

input[type=date] {
	margin-right: 10px;
}

button:hover {
	background-color: #CCC;
}

.list tr {
	height: 40px;
}

.list tbody tr:hover {
	cursor: pointer;
	background-color: #dddfeb;
}

.list th {
	text-align: center;
	border-right: 1px solid #CCC;
}

.list tr:first-child th {
	background-color: #edf0f7;
}

.list td {
	border-bottom: 1px solid #edf0f7;
	border-right: 1px solid #edf0f7;
	text-align: center;
}

.list th:last-child, .list td:last-child
	{
	border-right: none;
}

.null-msg {
	text-align: center;
}

.list th:nth-child(1) {
	width: 50px;
}

.list th:nth-child(2) {
	width: 100px;
}

.list th:nth-child(3) {
	width: 100px;
}

.list th:nth-child(4) {
	width: 100px;
}

.list th:nth-child(5) {
	width: 100px;
}

.list th:nth-child(6) {
	width: 250px;
}

.list th:nth-child(7) {
	width: 100px;
}

.list th:nth-child(8) {
	width: 600px;
}

.list th:nth-child(9) {
	width: 270px;
}

#appointment-all-list th:nth-child(10) {
	width: 70px;
}

.list td:nth-child(6), #appointment-all-list td:nth-child(8), #appointment-all-list td:nth-child(9) {
	padding-left: 10px;
	text-align: left;
}

.waiting {
	color: tomato;
}

#pagebar {
	text-align: center;
	margin-top: 20px;
	font-size: 1.1rem;
}

.symptomNull {
	color: #CCC;
}

/* 모든 진료 - 예약 - 목록*/
/* .sidebar-clicked {
	background-color: #dddfeb;
}

button, input[type=date] {
	border: 1px solid #CCC;
	border-radius: 5px;
	color: #858796;
}

input[type=date] {
	margin-right: 10px;
}

button:hover {
	background-color: #CCC;
}

#appointment-all-list tr {
	height: 40px;
}

#appointment-all-list tbody tr:hover {
	cursor: pointer;
	background-color: #dddfeb;
}

#appointment-all-list th {
	text-align: center;
	border-right: 1px solid #CCC;
}

#appointment-all-list tr:first-child th {
	background-color: #edf0f7;
}

#appointment-all-list td {
	border-bottom: 1px solid #edf0f7;
	border-right: 1px solid #edf0f7;
	text-align: center;
}

#appointment-all-list th:last-child, #appointment-all-list td:last-child
	{
	border-right: none;
}

.null-msg {
	text-align: center;
}

#appointment-all-list th:nth-child(1) {
	width: 50px;
}

#appointment-all-list th:nth-child(2) {
	width: 100px;
}

#appointment-all-list th:nth-child(3) {
	width: 100px;
}

#appointment-all-list th:nth-child(4) {
	width: 100px;
}

#appointment-all-list th:nth-child(5) {
	width: 100px;
}

#appointment-all-list th:nth-child(6) {
	width: 250px;
}

#appointment-all-list th:nth-child(7) {
	width: 100px;
}

#appointment-all-list th:nth-child(8) {
	width: 600px;
}

#appointment-all-list th:nth-child(9) {
	width: 270px;
}

#appointment-all-list th:nth-child(10) {
	width: 70px;
}

#appointment-all-list td:nth-child(6), #appointment-all-list td:nth-child(8), #appointment-all-list td:nth-child(9) {
	padding-left: 10px;
	text-align: left;
}

.waiting {
	color: tomato;
}

#pagebar {
	text-align: center;
	margin-top: 20px;
	font-size: 1.1rem;
}

.symptomNull {
	color: #CCC;
} */